__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore
.vscode/
.venv/
env/
node_modules/

infra/
docker/
scripts/
evaluation/

mcp_config.json
rag_platform_folder_tree.txt
README.md

data/faiss_index/