project_id          = "your-gcp-project-id"
region              = "asia-southeast1"
artifact_repo_name  = "rag-platform-repo"

rag_service_name    = "rag-engine"
mcp_service_name    = "mcp-server"
ui_service_name     = "streamlit-ui"

rag_container_image = "asia-southeast1-docker.pkg.dev/your-gcp-project-id/rag-platform-repo/rag-engine:latest"
mcp_container_image = "asia-southeast1-docker.pkg.dev/your-gcp-project-id/rag-platform-repo/mcp-server:latest"
ui_container_image  = "asia-southeast1-docker.pkg.dev/your-gcp-project-id/rag-platform-repo/streamlit-ui:latest"

bucket_name         = "your-docs-bucket-name"
documents_prefix    = "documents"
faiss_index_prefix  = "indexes/faiss"

document_source     = "gcs"
vector_store        = "faiss"
retriever           = "hybrid"
reranker            = "simple"
generator           = "gemini"
top_k               = 3

allow_custom_models = true
allow_unauthenticated = true
deploy_ui           = true

gemini_secret_name  = "gemini-api-key"

deploy_services = false